.gradle/
.idea/
app/build/
app/libs/
app/src/androidTest/
app/src/test/
gradle/
build.gradle
gradle.properties
gradlew
gradlew
local.properties
play2048.iml
settings.gradle
app/app.iml
app/build.gradle
app/proguard-rules.pro